.MoviePosters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(12, 2, 2);
    margin: 50px;
    border-radius: 10px;
}

.Poster {
   width: 100%;
   height: auto;
}

.MoviePosters:hover {
    transform: scale(1.1);
}


.voteButtons {
    display: flex;
    place-content: center ;
}